{extend name="public:layouti" /}
{block name="style"}

{/block}



{block name="main-container"}
<div class="container">

    <ol class="breadcrumb">
        <li><a href="#">首页</a></li>
        <li><a href="#">产品中心</a></li>
        <li><a href="#">产品详情</a></li>

    </ol>

    <div class="row">
        <div class="jumbotron" style="display: table" >
            <div style="text-align: center; width: 48%; display: table-cell; ">
                <!--<ol class="breadcrumb">-->
                    <!--<li><a href="#">首页</a></li>-->
                    <!--<li><a href="#">产品中心</a></li>-->
                    <!--<li><a href="#">产品详情</a></li>-->

                <!--</ol>-->
                <img src="{:get_file_path($info['imgs'][0])}" atl="" style="width: 100%;"/>

            </div>
            <div style="text-align: center;width:48%;display: table-cell;">

                <h2>{$info['product_name']}</h2>
                <div style="margin-top: 20px">
                    <p>{$info['marking']}</p>
                </div>
                <p>参考价:￥{$info['prize']}</p>

            </div>


        </div>

        <div>
            <ul class="nav nav-tabs">
                <li role="presentation" class="infop" onclick="infop()"><a href="javasript:;">产品介绍</a></li>
                <li role="presentation" class="spectifictionsp"  onclick="spectifictionsp()"><a href="javasript:;">产品参数</a></li>
                <li role="presentation" class="servicep" onclick="servicep()" ><a href="javasript:;">服务支持</a></li>
                <li role="presentation" class="addressp" onclick="addressp()" ><a href="javasript:;">店铺地址</a></li>
            </ul>
        </div>
        <!--产品介绍-->
        <div class="" style="width: 100%; margin-top: 50px">
            <div class="info">
                {$info['info'] |raw}

            </div>
        <!--产品参数-->
            <div class="spectifictions" style="display: none">
            {$info['specifications'] |raw}
             </div>
        <!--服务支持-->
        <div class="service" style="display: none">
            {$info['surppot'] |raw}
        </div>
            <!--店铺地址-->
            <!--<div  class="address" style="display: none;text-align: center;width: 1200px;height: 400px;margin-top: 20px">-->
                <!--&lt;!&ndash;<p>百度地图收索:海尔热水器厨房电器(郫县犀浦店)</p>&ndash;&gt;-->
                <!--&lt;!&ndash;<div id="container" style="width:100%;height: 100%;"></div>&ndash;&gt;-->

            <!--</div>-->
            <p>百度地图收索:海尔热水器厨房电器(郫县犀浦店)</p>
            <div class="address" id="container" style="width: 1200px;height: 400px;display: none"></div>
    </div>

</div>

</div>
<!--<p>百度地图收索:海尔热水器厨房电器(郫县犀浦店)</p>-->
<!--<div id="container" style="width: 1200px;height: 400px;"></div>-->
{/block}
{block name="script"}
<script>
    function infop() {
        $('.info').css('display','block');
        $('.spectifictions').css('display','none');
        $('.service').css('display','none');
        $('.address').css('display','none');

    }

    function spectifictionsp() {
        $('.info').css('display','none');
        $('.spectifictions').css('display','block');
        $('.service').css('display','none');
        $('.address').css('display','none');

    }
    function servicep() {
        $('.info').css('display','none');
        $('.spectifictions').css('display','none');
        $('.service').css('display','block');
        $('.address').css('display','none');
    }
    function addressp() {
        $('.info').css('display','none');
        $('.spectifictions').css('display','none');
        $('.service').css('display','none');
        $('.address').css('display','block');

    }
</script>

<script type="text/javascript" src="https://api.map.baidu.com/api?v=1.0&type=webgl&ak=kPU2UIQc9LGMWl0VPBaiHD44QVmZjwIL"></script>
<script type="text/javascript">
    var map = new BMapGL.Map("container");
    // 创建地图实例
    var point = new BMapGL.Point(103.966379,30.758219);

    // map.setCenter(point);

    // 创建点坐标
    map.centerAndZoom(point, 20);

    // 初始化地图，设置中心点坐标和地图级别
    var opts = {
        width: 250,     // 信息窗口宽度
        height: 100,    // 信息窗口高度
        title: "海尔热水器厨房电器(郫县犀浦店)"  // 信息窗口标题
    }
    var infoWindow = new BMapGL.InfoWindow(
        "地址：成都市郫都区围城南路与恒山南街交叉路口西北侧(阳光雅舍)" +
        "<br>"+"电话：<a href=\"tel:18280235063\">18280235063</a>" +"</br>"+
        "<br>"+"坐标：103.966379,30.758219"+"</br>", opts);  // 创建信息窗口对象
    map.openInfoWindow(infoWindow, map.getCenter());        // 打开信息窗口
</script>
{/block}
