{extend name="public:layouti" /}
{block name="style"}
<style>
    .breadcrumb {
        margin-top: 2%;
        background-color: white;
    }
</style>
{/block}
{block name="main-container"}
<!--面包屑导航-->
<div class="nav">
    <div class="container">
        <div class="row">
            <ol class="breadcrumb">
                <li><a href="/cms/Index/index">首页</a></li>
                <li><a href="#">店铺地址</a></li>
            </ol>
        </div>
    </div>
</div>
<!--百度地图-->
<div class="address jumbotron" id="container" style="width: 100%; height: 500px"></div>

{/block}
{block name="script"}

<script type="text/javascript" src="https://api.map.baidu.com/api?v=1.0&type=webgl&ak=kPU2UIQc9LGMWl0VPBaiHD44QVmZjwIL"></script>
<script type="text/javascript">
    var map = new BMapGL.Map("container");
    // 创建地图实例
    var point = new BMapGL.Point(103.966379,30.758219);

    // map.setCenter(point);

    // 创建点坐标
    map.centerAndZoom(point, 20);
    map.enableScrollWheelZoom(true);     //开启鼠标滚轮缩放
    // 初始化地图，设置中心点坐标和地图级别
    var opts = {
        width: 250,     // 信息窗口宽度
        height: 100,    // 信息窗口高度
        title: "海尔热水器厨房电器(郫县犀浦店)"  // 信息窗口标题
    }

    var infoWindow = new BMapGL.InfoWindow(
        "地址：成都市郫都区围城南路与恒山南街交叉路口西北侧(阳光雅舍)" , opts);  // 创建信息窗口对象
        map.openInfoWindow(infoWindow, map.getCenter());        // 打开信息窗口
</script>

{/block}